{% load static %} {% comment %} to load static {% endcomment %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>User Profile Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {# asking the width of devices #}

    <!-- CSS here -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/slicknav.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/all.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/themify-icons.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/slick.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/header2.css' %}">
    {#    <link rel="stylesheet" type="text/css" href="{% static 'css/nice-select.css' %}">#}
    <!-- CSS here -->

</head>

<body>

<!-- Header Start -->
<div class="header">
    <div class="header-area1 header-transparent">
        <div class="main-header1 header-sticky">
            <div class="container">
                <div class="menu-wrapper d-flex align-items-center justify-content-between">
                    <!-- Logo -->
                    <div class="logo">
                        <a href="{% url 'userRooms' %}">Easy Rooms</a>
                    </div>
                    <!-- Logo -->

                    <!-- nav bar -->
                    <div class="main-menu f-right d-none d-lg-block">
                        <nav>
                            <ul id="navigation">
                                <a href="{% url 'userProfile' %}" class="mobile_sign">
                                    You are login as {{ request.user.username }}.</a>
                                <li><a href="{% url 'rooms' %}">Rooms</a></li>
                                <li><a href="{% url 'postRoom' %}">Post Room</a></li>
                                <li><a href="{% url 'userAboutUS' %}">About Us</a></li>
                                <a href="{% url 'userProfile' %}" class="mobile_sign">Profile</a>
                                <a href="{% url 'logout' %}" class="mobile_sign">Logout</a>

                            </ul>
                        </nav>
                    </div>
                    <!-- nav bar -->

                    <!-- Profile Start -->
                    <div class="header-profile d-none d-lg-block f-right ">
                        <div class="row">
                            <div class="profile-icon">
                                {% if request.user.is_authenticated %}
                                    <p><i class="fas fa-user-circle"></i> Hi, {{ request.user.username }}</p>
                                {% endif %}
                            </div>
                            <div class="dropdown">
                                <button class="btn btn-circle"><i class="fas fa-caret-down"></i></button>
                                <div class="dropdown-content">
                                    <a class="dropdown-icon" href="{% url 'userProfile' %}"> <i class="fas fa-user"></i>
                                        Profile </a>
                                    <a class="dropdown-icon" href="{% url 'logout' %}"> <i
                                            class="fas fa-sign-out-alt"></i> Logout </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Profile End -->


                    <!-- Mobile Menu -->
                    <div class="col-12">
                        <div class="row mobile_menu d-block d-lg-none"></div>
                    </div>
                    <!-- Mobile Menu -->

                </div>
            </div>
        </div>
    </div>

</div>
<!-- Header End -->


<div class="main">

    <!--01-->
    <div class="test1 border-bottom section-padding40">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Tittle -->
                    <div class="section-tittle text-center mb-80">
                        <h2>User Info</h2>
                        <h1>{{ request.user.username }}</h1>
                        <h1>{{ request.user.fullName }}</h1>
                        <h1>{{ request.user.email }}</h1>
                    </div>
                    <!-- Tittle End -->
                </div>
            </div>
            {#            <hr style="border: 1px solid #b367ff; width:100%">#}
            <hr>


            <div class="row">
                <div class="profile-card col-lg-6 col-md-6 col-sm-12 d-flex justify-content-center">
                    <div class="card mb-3" style="width: 18rem;">
                        <div class="card-header d-flex justify-content-center"> <h2>Room Posted</h2></div>
                        <div class="card-body text-dark">
                            <h1 class="card-text  d-flex justify-content-center">{{ total_room_post }}</h1>
                        </div>
                    </div>
                </div>

                <div class="profile-card col-lg-6 col-md-6 col-sm-12 d-flex justify-content-center">
                    <div class="card mb-3" style="width: 18rem;">
                        <div class="card-header d-flex justify-content-center"> <h2>Room Rented</h2></div>
                        <div class="card-body text-dark">
                            <h1 class="card-text  d-flex justify-content-center">{{ total_rented }}</h1>
                        </div>
                    </div>
                </div>
            </div>
        <hr>

            {# update user profile #}
            <div class="section-tittle text-center display-40">
                <h1>Update Your Profile</h1>

                {% if messages %}
                    <ul class="messages">
                        {% for msg in messages %}
                            <li>
                                <div class="alert alert-{{ msg.level_tag }}" role="alert">
                                    {{ msg.message }}
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            {% block content %}
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="P_icons">
                        <div class="form-group">
                        <label for="Uname"><i class="far fa-user-circle fas-color"></i>&nbsp; Username:</label>
                        <input type="text" class="form-control" name="username" readonly
                               onclick="alert('Username can`t be change.')" value="{{ user.username }}">
                    </div>
                    <div class="form-group">
                        <label for="fullName"><i class="fas fa-user-circle fas-color"></i>&nbsp; Full Name:</label>
                        <input type="text" class="form-control" name="fullName" value="{{ user.fullName }}">
                    </div>
                    <div class="form-group">
                        <label for="contactNo"><i class="fas fa-phone fas-color"></i>&nbsp; Contact No.</label>
                        <input type="number" class="form-control" name="contactNo" min="1000000000" max="9999999999"
                               oninvalid="this.setCustomValidity('The number should be 10 digit.')"
                               oninput="setCustomValidity('')" value="{{ user.contactNo }}">
                    </div>
                    <div class="form-group">
                        <label for="email"><i class="far fa-envelope fas-color"></i>&nbsp; Email:</label>
                        <input type="email" class="form-control" name="email" value="{{ user.email }}">
                    </div>

                    <div class="form-group passCheck">
                        <label for="pwd"><i class="fas fa-key fas-color"></i>&nbsp; Password:</label>
                        <input type="password" class="form-control"
                               name="password1" title="Password must contain at least 8 characters, including
                               UPPER/lowercase and numbers" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"
                               placeholder="Enter a new password" minlength="8" required
                               onchange=" this.setCustomValidity(this.validity.patternMismatch ? this.title : '');
                               if(this.checkValidity()) form.password2.pattern = RegExp.escape(this.value);">
                    </div>

                    <div class="form-group passCheck">
                        <label for="pwd"><i class="fas fa-key fas-color"></i>&nbsp; Confirm Password:</label>
                        <input type="password" class="form-control" name="password2"
                               title="Please enter the same Password as above"
                               pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" placeholder="Enter same password as above"
                               onchange="this.setCustomValidity(this.validity.patternMismatch ? this.title : '');"
                               minlength="8" required>
                    </div>
                    </div>


                    <hr>
                    <div class="d-flex justify-content-center ">
                        <button type="submit" class="btnOnly submit-button col-3">Update</button>
                    </div>

                    {# checks passwords #}
                    <script type="text/javascript">
                        // polyfill for RegExp.escape
                        if (!RegExp.escape) {
                            RegExp.escape = function (s) {
                                return String(s).replace(/[\\^$*+?.()|[\]{}]/g, '\\$&');
                            };
                        }
                    </script>

                </form>
            {% endblock content %}
        </div>
    </div>
    <!-- 01 End -->

    <!-- Social Media Link start -->
    <section class="socialMedia-area">
        <div class="container">
            <div class="wants-wrapper w-padding2">
                <div class="row justify-content-between">
                    <div class="col-xl-8 col-lg-8 col-md-7">
                        <div class="socialMedia-caption socialMedia-caption2">
                            <p>Easy rooms will completely reduce the old tiresome process of physical travel for the
                                search of room. Without such burden, the clients will get all facilities of
                                <a href="{% url 'userRooms' %}" target="_blank">www.easyrooms.com</a>
                                in a single click. Also check our
                                <a href="{% url 'userPrivacy' %}" target="_blank">privacy policy </a>
                            </p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-5">
                        <div class="footer-social f-right sm-left">
                            <a href="https://www.twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
                            <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                            <a href="https://www.google.com/gmail/about/#" target="_blank"><i class="fab fa-google"></i></a>
                            <a href="https://www.instagram.com/?hl=en" target="_blank"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <footer>
        <div class="footer-copyright">
            <div class="footer-bottom-area">
                <div class="container">
                    <div class="footer-border">
                        <div class="row d-flex justify-content-between align-items-center">
                            <div class="col-xl-12 col-lg-12 ">
                                <div class="footer-copy-right">
                                    <p>Copyright &copy; All rights reserved to
                                        <a href="{% url 'userRooms' %}" target="_blank">Easy Rooms</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer Copyright End -->


    <!-- Scroll Up Start -->
    <div id="backToTop">
        <a title="Move To Top" href="#">
            <i class="fas fa-level-up-alt"></i>
        </a>
    </div>
    <!-- Scroll Up End -->


    {% comment %} javascript link {% endcomment %}
    <!-- JS here -->

    <script src="{% static 'js/modernizr-3.5.0.min.js' %}"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="{% static 'bootstrap/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'bootstrap/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap/bootstrap.min.js' %}"></script>


    <!-- Jquery Mobile Menu -->
    <script src="{% static 'js/jquery.slicknav.min.js' %}"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/slick.min.js' %}"></script>

    <!-- One Page, Animated-HeadLin -->
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/animated.headline.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.js' %}"></script>

    <!-- Date Picker -->
    <script src="{% static 'js/gijgo.min.js' %}"></script>

    <!-- Nice-select, sticky -->
    <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'js/jquery.sticky.js' %}"></script>

    <!-- Progress -->
    <script src="{% static 'js/jquery.barfiller.js' %}"></script>


    <!-- Jquery Plugins, main Jquery -->
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

    {% comment %} end of javascript link {% endcomment %}
</body>

</html>