.aboutus {
    font-size: 40px;
    text-align: center;
    color: #b367ff;
    position: relative;
    padding-top: 110px;
}

.container-top {
    width: 100%;
    margin-top: 5%;
}

.container_left {
    width: 40%;
    padding-left: 20px;
    background-color: honeydew;
    float: left;
    padding-top: 1%;
    margin-left: 6%;
}

.left-heading {
    text-align: center;
    color: #b367ff;
    text-decoration: underline;
}

.left-sub {
    font-size: large;
    text-align: center;
    padding: 5%;
}

.container_right {
    width: 40%;
    padding-left: 20px;
    background-color: honeydew;
    padding-top: 1%;
    margin-left: 56%;
}

.right-heading {
    text-align: center;
    color: #b367ff;
    text-decoration: underline;
}

.right-sub {
    font-size: large;
    text-align: center;
    padding: 5%;
}

.border-container {
    width: 90%;
    padding: 15px;
    border: 2px solid #01a640;
    margin-left: 6%;
    margin-top: 5%;
    font-size: 18px;
    background-color: honeydew;
}

.paragraph {
	margin: 0 10px 0.6em;
}