body
{
    background: #222222;
}
#navigation
{
    background: #1e7e34;
}

.navbar-inverse {

    border-radius: 0px;
    border-bottom: 1px solid gray;
}

.navbar-btn {
    margin-top: 8px;
    margin-bottom: 8px;
    float: right;
}

.navbar-inverse .navbar-brand {
    color: #FFFFFF;
    font-size: 25px;
    font-family: Corbel;
    letter-spacing: 5px;
    font-weight: bold;
    color: #de7300;
}

@media (min-width: 768px){
.navbar-nav
{
    float: left;
    margin: 0px 0px 0px 850px;
}
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #b367ff;
}


#heading
{

    height: 80px;
    margin-top: 50px;
    background-color: #121416;
    border-radius: 10px;

}
#heading h2
{
    font-family: SansSerif;
    font-weight: bold;
    color: white;
    padding: 10px;
    font-size: 50px;
    text-align: center;
    letter-spacing: 5px;


}


#profile
{
    height: 620px;
    width: 700px;
    float: left;


}

#form
{
    margin-top: 20px;
    background-color: #121416;
    border-radius: 10px;
    padding: 10px;

}

#profile input[type="submit"]
{
    background: lightgreen;
    color: #222222;
    width: 150px;
    height: 40px;
    font-family: corbel;
    font-weight: bold;
    font-size: 18px;
    float: left;
    margin-left: 260px;
    border: none;
    border-radius: 10px;
    transition: .5s;


}


#profile input[type="submit"]:hover
{
    transform: scale(1.1);
}

#profile input[type="text"],input[type="password"]
{
    width: 96%;
    height: 40px;
    border: 1px solid #222222;
    background-color: transparent ;
    outline: none;
    margin-left: 15px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 18px;
    border-radius: 5px;
    padding: 15px;
    color: #de7300;
}

#profile input[type="text"]::placeholder,input[type="password"]::placeholder
{
    color: #ffffff;
}
#profile input[type="text"]:hover,input[type="password"]:hover
{
    border: 1px solid #de7300;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
    transform: scale(1.01);
    box-shadow: 0px 2px #de7300;

}


#image-main
{
    width: 300px;
    height: 320px;
    float: right;
    margin-right: 100px;
    margin-top: 25px;

}

#image {
    background: whitesmoke;
    width: 300px;
    height: 275px;
    float: left;
}


#but
{
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

#but button {
    height: 40px;
    border-radius: 10px;
    border: 0px;
    background-color: coral;
    font-family: Corbel;
    font-size: 18px;
    font-weight: bold;
}

#but button:hover
{
    transform: scale(1.1);
    transition: ease;
    transition-duration: .8s;
}