body {
    background-color: #ebeced;
}

.main_nav .navbar-expand-lg {
    border-radius: 0;
    background-color: #3b2774;
    border-color: #3b2774;
}

.main_nav .navbar-expand-lg .navbar-brand {
    color: #fff;
    font-size: 18px;
    font-family: sans-serif;
    letter-spacing: 1px;
    font-weight: bold;
}

.main_nav .navbar .navbar-toggler .navbar-toggler-icon {
    color: #fff;
}

.main_nav .navbar .navbar-toggler .navbar-toggler-icon:hover {
    color: #b367ff;
}

.main_nav .navbar .collapse .navbar-nav .list {
    color: #fff;
}

.main_nav .navbar .collapse .navbar-nav .list:hover {
    color: #b367ff;
}

.main_nav .navbar .collapse .navbar-nav > .active > a,
.main_nav .navbar .collapse .navbar-nav > .active > a:focus,
.main_nav .navbar .collapse .navbar-nav > .active > a:hover {
    color: white;
    font-weight: bold;
    font-family: Corbel;
    background-color: coral;
    margin-right: 10px;
}


/* Profile admin navbar */
.nav .header-profile .main {
    padding-top: 5px;
    margin-right: 5px;
    margin-left: 0px;
    /*margin: 0 0px;*/
}

.nav .header-profile .main .in-line{
    display: inline-block;
}

.nav .header-profile .profile-icon p {
    color: #fff;
    padding-top: 3px;
}

.nav .header-profile .profile-icon p:hover {
    color: #b367ff;
    cursor: pointer;
}

.navbar .nav .header-profile .dropdown .btn {
    background-color: transparent;
}

.nav .header-profile .dropdown .btn-circle {
    margin-left: 1px;
    width: 40px;
    height: 40px;
    padding: 2px 10px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
    margin-top: -3px;
}

.nav .header-profile .dropdown .btn {
    color: #b367ff;
}

.nav .header-profile .dropdown i {
    color: #fff;
}

.nav .header-profile .dropdown i:hover {
    color: #b367ff;
    cursor: pointer;
    position: relative;
    display: inline-block;
}

.nav .header-profile .dropdown .dropdown-content .dropdown-icon i {
    color: #b367ff;
    margin-right: 15px;
    text-decoration: none;
}

.nav .header-profile .dropdown:hover .btn {
    background-color: #b367ff;
}


/* Profile admin navbar */


.main .d-flex .submit-button {
    background-color: #b367ff;
    font-weight: 500;
}

.main .d-flex .submit-button:hover {
    color: #fff;
}
