/*.signup {
    position: relative;
    padding-top: 40px;
    z-index: 1;
}*/
.intro_height2 {
    min-height: 890px;
}
.main_bg1 {
    background: #fff;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #fff, #b367ff);
    background: -moz-linear-gradient(to top, #fff, #b367ff);
    background: -o-linear-gradient(to top, #fff, #b367ff);
    background: linear-gradient(to top, #fff, #b367ff);
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
}
/*Register Box part*/

ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/*-- start editing from here --*/
a {
    text-decoration: none;
}

.txt-rt {
    text-align: right;
}

/* text align right */
.txt-lt {
    text-align: left;
}

/* text align left */
.txt-center {
    text-align: center;
}

/* text align center */
.float-rt {
    float: right;
}

/* float right */
.float-lt {
    float: left;
}

/* float left */
.clear {
    clear: both;
}

/* clear float */
.pos-relative {
    position: relative;
}

/* Position Relative */
.pos-absolute {
    position: absolute;
}

/* Position Absolute */
.vertical-base {
    vertical-align: baseline;
}

/* vertical align baseline */
.vertical-top {
    vertical-align: top;
}

/* vertical align top */
nav.vertical ul li {
    display: block;
}

/* vertical menu */
nav.horizontal ul li {
    display: inline-block;
}

/* horizontal menu */
img {
    max-width: 100%;
}


.signup .main_bg1 .intro_one .main-box1 h1 {
    font-size: 3em;
    text-align: center;
    color: #fff;
    font-weight: 100;
    text-transform: capitalize;
    letter-spacing: 4px;
    font-family: 'Roboto', sans-serif;
}