body
{
    background: #222222;
}
#roomnavigation
{
    background: #1e7e34;
}

.navbar-inverse {

    border-radius: 0px;
    border-bottom: 1px solid white;
}

.navbar-btn {
    margin-top: 8px;
    margin-bottom: 8px;
    float: right;
}

.navbar-btn a
{
    color: #FFFFFF;
}

.navbar-inverse .navbar-brand {
    color: #FFFFFF;
    font-size: 25px;
    font-family: Corbel;
    letter-spacing: 5px;
    font-weight: bold;
    color: #de7300;
}

@media (min-width: 768px){
.navbar-nav
{
    float: left;
    margin: 0px 0px 0px 850px;
    font-family: Corbel;
}
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: white;
    font-weight: bold;
    font-family: Corbel;
    background-color: #de7300;
}