body
{
    background-color: #ebeced;
}
.navbar-inverse {

    border-radius: 0px;
    background-color: #3b2774;
    border-color: #3b2774;
}

.navbar-btn {
    margin-top: 8px;
    margin-bottom: 8px;
    float: right;
}

.navbar-btn a
{
    color: #FFFFFF;
}

.navbar-inverse .navbar-brand {
    color: #FFFFFF;
    font-size: 25px;
    font-family: Corbel;
    letter-spacing: 5px;
    font-weight: bold;
    color: white;
}


.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: white;
    font-weight: bold;
    font-family: Corbel;
    background-color: coral;
    margin-right: 10px;
}