{% load static %} {% comment %} to load static {% endcomment %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"> {# asking the width of devices #}

    <!-- CSS here -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/slicknav.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/all.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/themify-icons.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/slick.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/header2.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/aboutus.css' %}">
{#    <link rel="stylesheet" type="text/css" href="{% static 'css/nice-select.css' %}">#}
    <!-- CSS here -->

</head>

<body>

<!-- Header Start -->
<div class = "nav">
    <div class="header-area1 header-transparent">
        <div class="main-header1 header-sticky">
            <div class="container-fluid">
                <div class="menu-wrapper d-flex align-items-center justify-content-between">
                    <!-- Logo -->
                    <div class="logo">
                        <a href="{% url 'index' %}">Easy Rooms</a>
                    </div>
                    <!-- Logo -->

                    <!-- nav bar -->
                   <div class="main-menu f-right d-none d-lg-block">
                        <nav>
                            <ul id="navigation">
                                <li><a href="{% url 'index' %}">Home</a></li>
                                <li><a href="{% url 'rooms' %}">Rooms</a></li>
                                <li><a href="{% url 'aboutUs' %}">About Us</a></li>
                                <a href="{% url 'signup' %}" class="mobile_sign">Sign up</a>
                                <a href="{% url 'login' %}" class="mobile_sign">Login </a>
                            </ul>
                        </nav>
                    </div>
                    <!-- nav bar -->

                    <!-- Header-btn -->
                    <div class="header-btn d-none d-lg-block f-right">
                        <a href="{% url 'login' %}" class="btnOnly">Login</a>
                        <a href="{% url 'signup' %}" class="btnOnly">Signup</a>
                    </div>
                    <!-- Header-btn -->

                    <!-- Mobile Menu -->
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                    <!-- Mobile Menu -->

                </div>
            </div>
        </div>
    </div>

</div>
<!-- Header End -->

 <div class="aboutus">
		 About Us
		</div>
	<div class="container">
        <div class="container-top">
		<div class="container_left">
			<h2 class="left-heading"> OUR COMPANY </h2>
			<h3 class="left-sub">We are like minded people working on the betterment of the people to find the best and suitable property like rooms, flat, apartment, houses and lands.</h3>
		</div>
		<div class="container_right">
			<h2 class="right-heading"> OUR VISION </h2>
			<h3 class="right-sub">How the adventure ended will be seen anon. Aouda was anxious, though she said nothing. As for Passepartout, he thought Mr. Fogg’s manoeuvre simply glorious.</h3>
		</div>
        <div class="border-container">
			<p class="paragraph">
			 "EasyRooms.com is a Rental and Solution Provider.
			</p>

			<p class="paragraph">
			EasyRooms.com is a web portal designed to reshape the conventional pattern of rental solution for flat, room, space, apartment and hostel, and land all around Kathmandu, Bhaktapur, Pokhara and Butwal. This portal allows people to search and book properties from available property list via online presence. The properties are displayed in categorical lists where clients can search the property that best suits their budget range as well as location. The list is regularly updated by our marketing team; the team searches property manually as well as encourages and advocates property owners to post through online with detail information of property.
			</p>

			<p class="paragraph">
			EasyRooms.com will completely reduce the old tiresome process of physical travel for the search of room, flat, building etc. Without such burden, the clients will get all facilities of EasyRooms.com in a single click.
			</p>
			<p class="paragraph">
			EasyRooms.com offers clients to set preferences for location as well as budget, as per their need. Property owners can post, manage and modify properties from their free accounts. In addition to this, the property owners can also view the list of the applicants and tag the property status to ‘Booked’. Property seekers can easily surf via EasyRooms website, and EasyRooms social media to search and book property. Our best feature that builds fast communication among property owner and property seeker is “Notify Room”, which notifies via email and mobile app. Clients who use this feature will get notification whenever a new property that matches to client’s requirement is posted. Similar type of notification alerts to property owner as well, if any client applies to book his property.
			</p>

			<p class="paragraph">
			EasyRooms.com is a facilitator that provides dedicated service to property owners and tenants. Our dedicated team works behind and maintains the portal 24/7 to meet success; which lies solely on our users’ satisfaction. In addition to this, EasyRooms.com team also guides and provides sufficient information through email, Facebook, Twitter, Google Plus, Instagram, LinkedIn etc. EasyRooms.com is here for you, to provide efficient rental solution in this hectic busy schedule of modern day lifestyle."
			</p>
		</div>
        </div>
		</div>
    <!-- Social Media Link start -->
    <section class="socialMedia-area">
        <div class="container">
            <div class="wants-wrapper w-padding2">
                <div class="row justify-content-between">
                    <div class="col-xl-8 col-lg-8 col-md-7">
                        <div class="socialMedia-caption socialMedia-caption2">
                            <p>Easy rooms will completely reduce the old tiresome process of physical travel for the search of room.
                                Without such burden, the clients will get all facilities of <a href="{% url 'index'%}" target="_blank">www.easyrooms.com</a>
                                in a single click. Also check our <a href="{% url 'privacy' %}" target="_blank">privacy policy </a>
                            </p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-5">
                        <div class="footer-social f-right sm-left">
                            <a href="https://www.twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
                            <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                            <a href="https://www.google.com/gmail/about/#" target="_blank"><i class="fab fa-google"></i></a>
                            <a href="https://www.instagram.com/?hl=en" target="_blank"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Social Media Link End  -->
</div>

<!-- footer Copyright start  -->
<footer>
    <div class="footer-copyright">
        <div class="footer-bottom-area">
            <div class="container">
                <div class="footer-border">
                    <div class="row d-flex justify-content-between align-items-center">
                        <div class="col-xl-12 col-lg-12 ">
                            <div class="footer-copy-right">
                                <p>Copyright &copy; All rights reserved to
                                    <a href="{% url 'index'%}" target="_blank">Easy Rooms</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer Copyright End -->


<!-- Scroll Up Start -->
<div id="backToTop" >
    <a title="Move To Top" href="#">
        <i class="fas fa-level-up-alt"></i>
    </a>
</div>
<!-- Scroll Up End -->


{% comment %} javascript link {% endcomment %}
<!-- JS here -->

<script src="{% static 'js/modernizr-3.5.0.min.js' %}"></script>
<!-- Jquery, Popper, Bootstrap -->
<script src="{% static 'bootstrap/jquery-1.12.4.min.js' %}"></script>
<script src="{% static 'bootstrap/popper.min.js' %}"></script>
<script src="{% static 'bootstrap/bootstrap.min.js' %}"></script>


<!-- Jquery Mobile Menu -->
<script src="{% static 'js/jquery.slicknav.min.js' %}"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/slick.min.js' %}"></script>

<!-- One Page, Animated-HeadLin -->
<script src="{% static 'js/wow.min.js' %}"></script>
<script src="{% static 'js/animated.headline.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.js' %}"></script>

<!-- Date Picker -->
<script src="{% static 'js/gijgo.min.js' %}"></script>

<!-- Nice-select, sticky -->
<script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'js/jquery.sticky.js' %}"></script>

<!-- Progress -->
<script src="{% static 'js/jquery.barfiller.js' %}"></script>


<!-- Jquery Plugins, main Jquery -->
<script src="{% static 'js/plugins.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

{% comment %} end of javascript link {% endcomment %}
</body>

</html>