{% load static %} {% comment %} to load static {% endcomment %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Easy Rooms</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"> {# asking the width of devices #}
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}"> <!-- linking bootstrap css-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" /> <!-- linking custom css-->
</head>

<body>


<!--/ nav start /-->
<nav class="navbar navbar-b navbar-trans navbar-expand-md fixed-top" id="mainNav">
    <div class="container-fluid">
        <a class="navbar-brand js-scroll" href="{% url 'index' %}">Easy Rooms</a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                data-target="#navbar_home" aria-controls="navbar_home" aria-expanded="false"
                aria-label="Toggle navigation">
            <span></span>  <!-- to create the line while minimize -->
            <span></span>
            <span></span>
            <span></span>
        </button>

{#        navbar list start #}
        <div class="navbar-collapse collapse justify-content-end" id="navbar_home">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link js-scroll active" href="{% url 'index' %}">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link js-scroll" href="{% url 'rooms' %}">Rooms</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link js-scroll" href="{% url 'aboutUs' %}">About Us</a>
                </li>

{#                <li class="nav-item">#}
{#                    <button class="btn rounded-pill" type="button">#}
{#                        <a href="{% url 'login' %}" class="nav-link js-scroll" > Login </a>#}
{#                    </button>#}
{#                </li>#}
            </ul>

        </div>
{#        navbar list end #}

    </div>
</nav>
<!--/ nav end /-->





{% comment %} javascript link {% endcomment %}
<script src="{% static 'bootstrap/bootstrap.min.js' %}"></script>

{% comment %} end of javascript link {% endcomment %}
</body>

</html>