{#{% extends 'adminPages/maindashboard.html' %}#}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Status - Easy Rooms</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'css/mainDashboard.css' %}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/header2.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/all.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>

</head>

<body>
<!-- admin navbar start -->
<div class="main_nav">

    <nav class="navbar navbar-expand-lg ">
        <div class=" container-fluid">
            <div class="nav navbar-header">
                <a class="navbar-brand list" href="{% url 'dashboard' %}">DASHBOARD</a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"><i class="fas fa-sliders-h"></i></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item "><a href="{% url 'dashboard' %}" class="nav-link list">Room List</a>
                    </li>
                    <li class="nav-item "><a href="{% url 'dashboardUsers' %}" class="nav-link list">User List</a></li>

                </ul>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="nav navbar-nav ml-auto">
                    <div class="header-profile">
                        <div class="row main ">
                            <div class="profile-icon in-line">
                                {% if request.user.is_authenticated %}
                                    <p><i class="fas fa-user-circle"></i> Hi, {{ request.user.username }}</p>
                                {% endif %}
                            </div>

                            <div class="dropdown in-line">
                                <button class="btn btn-circle"><i class="fas fa-caret-down"></i></button>
                                <div class="dropdown-content">
                                    <a class="dropdown-icon" href="{% url 'dashboardAdminProfile' %}"> <i
                                            class="fas fa-user"></i>
                                        Profile </a>
                                    <a class="dropdown-icon" href="{% url 'logout' %}"> <i
                                            class="fas fa-sign-out-alt"></i> Logout </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </nav>
</div>
<!-- admin navbar end -->

<div class="container">

    <section class="panel panel-default">
        <div class="row panel-heading justify-content-center pt-20 ">
            <h3 class="panel-title">Update Rent Status</h3>
        </div>
        <hr>
        <div class="panel-body">
            {% block content %}
                <form action="{% url 'rentedStatusUpdate' rent.id %}" method="POST"
                      enctype="multipart/form-data">
                    {% csrf_token %}

                    <!-- form-group // -->
                    <div class="row form-group">
                        <label for="name" class="col-3 control-label"><i class="fas fa-id-card fas-color"></i>Rented ID</label>
                        <div class="col-lg-9 col-sm-12">
                            <input readonly class="form-control" id="name" value="{{ rent.id }}"
                                   required>
                        </div>
                    </div>
                    <!-- form-group // -->

                    <div class="row form-group">
                        <label for="name" class="col-3 control-label"><i class="fas fa-id-card fas-color"></i>Room
                            ID</label>
                        <div class="col-lg-9 col-sm-12">
                            <input readonly class="form-control" name="room" id="name" value="{{ rent.room_id }}"
                                   required>
                        </div>
                    </div>

                    <div class="row form-group">
                        <label for="name" class="col-3 control-label"><i class="fas fa-user fas-color"></i>Posted
                            by (username)</label>
                        <div class="col-lg-9 col-sm-12">
                            <input readonly class="form-control" id="name" value="{{ rent.room.user.username }} "
                                   required>
                        </div>
                    </div> <!-- form-group // -->

                    <div class="row form-group">
                        <label for="name" class="col-3 control-label"><i
                                class="fas fa-user fas-color"></i>Rented by (username)</label>
                        <div class="col-lg-9 col-sm-12">
                            <input readonly class="form-control" id="name" value="{{ rent.user.username }} " required>
                        </div>
                    </div>

                    <div class="row form-group">
                        <label for="name" class="col-3 control-label">
                            <i class="fas fa-address-book fas-color"></i>Contact No. (Of Rented User)</label>
                        <div class="col-lg-9 col-sm-12">
                            <input readonly class="form-control" value="{{ rent.user.contactNo }}" required>
                        </div>
                    </div>

                    <div class="row form-group">
                        <label for="name" class="col-3 control-label">
                            <i class="fas fa-address-book fas-color"></i>Contact No. (Of Room Owner)</label>
                        <div class="col-lg-9 col-sm-12">
                            <input readonly class="form-control" value="{{ rent.room.user.contactNo }}" required>
                        </div>
                    </div>

                    <div class="row form-group">
                        <label for="tech" class="col-3 control-label"><i
                                class="fas fa-map-signs fas-color"></i>District</label>
                        <div class="col-lg-9 col-sm-12">
                            <input readonly class="form-control" value="{{ rent.room.district }}" required>
                        </div>
                    </div> <!-- form-group // -->

                    <div class="row form-group">
                        <label for="name" class="col-3 control-label"><i class="fas fa-map-marker-alt fas-color"></i>Address</label>
                        <div class="col-lg-9 col-sm-12">
                            <input readonly class="form-control" id="name" value="{{ rent.room.address }}" required>
                        </div>
                    </div> <!-- form-group // -->

                    <div class="row form-group">
                        <label for="name" class="col-3 control-label"><i
                                class="fas fa-dollar-sign fas-color"></i>Price</label>
                        <div class="col-lg-9 col-sm-12">
                            <input readonly class="form-control" id="name" value="{{ rent.room.price }}" required>
                        </div>
                    </div> <!-- form-group // -->

                    <div class="row form-group">
                        <label for="name" class="col-3 control-label"><i class="fas fa-home fas-color"></i>No of
                            Rooms</label>
                        <div class="col-lg-9 col-sm-12">
                            <input readonly class="form-control" value="{{ rent.room.noOfRooms }}" required>
                        </div>
                    </div> <!-- form-group // -->

                    <div class="row form-group">
                        <label for="tech" class="col-3 control-label"><i
                                class="fas fa-map-signs fas-color"></i>Status</label>
                        <div class="col-lg-9 col-sm-12">
                            <select class="form-control " name="room_status">
                                <option value="pending">Pending</option>
                                <option value="accepted">Accept Request</option>
                                <option value="rejected">Reject Request</option>
                            </select>
                        </div>
                    </div> <!-- form-group // -->

                    <input type="hidden" readonly class="form-control" name="user" value="{{ rent.user_id }}" required>

                    <hr>
                    <div class="row form-group d-flex justify-content-center ">
                        <button type="submit" class="btnOnly col-3 submit-button">Update</button>
                    </div> <!-- form-group // -->

                </form>
            {% endblock content %}

        </div><!-- panel-body // -->
    </section><!-- panel// -->


</div> <!-- container// -->


<!-- Jquery, Popper, Bootstrap -->
<script src="{% static 'bootstrap/jquery-1.12.4.min.js' %}"></script>
<script src="{% static 'bootstrap/popper.min.js' %}"></script>
<script src="{% static 'bootstrap/bootstrap.min.js' %}"></script>

</body>


</html>